main {
	margin: 0 auto;
	max-width: 90%;
  padding: 20px 10px;
  font-family: 'Roboto';
}
:root {
    --blue: #345995;
    --beige: #efefd0;
    --rose: #D90368;
    --orange: #E08E45;
    --green: #00A896;
  }
   header {
    color: var(--beige);
    background-color: var(--green);
  } 
  
  form {
    background-color: rgb(52,89,149, .4);
  }
  button.lg{
    background-color: var(--blue) !important;
  }
  .built-with {
    font-size: smaller;
  }
 /* .link-custom{
   color: var(--orange)!important;
    text-decoration: none!important;
    &:hover {
      color: var(--#{$prefix}link-hover-color);
      text-decoration: $link-hover-decoration;
  }
} */
.link-custom {
  color: var(--orange)!important;
  text-decoration:none!important;
}
 .link-custom:hover {
  font-weight: bolder;
}
.git-icon {
  color: var(--blue);
}  
.stack-icon {
  color: var(--orange);
}
.git-icon:hover, .linked-icon:hover, .stack-icon:hover {
    transform: scale(1.3);
}
.card-img-overlay:hover {
  visibility: visible;
}

  
@media only screen and (min-width: 992px) {
    .about-me {
        display: flex;
        align-items: center;
    }
    form {
       max-width: 50%;
    }    
}
  